{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Create new Season</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('app_season_index') }}">back to list</a>
{% endblock %}
