{% extends 'base.html.twig' %}

{% block title %}Edit program
{% endblock %}

{% block body %}
	<h1>Edit program</h1>

	{{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('program_index') }}">back to list</a>

	{{ include('program/_delete_form.html.twig') }}
{% endblock %}
