{% extends 'base.html.twig' %}

{% block title %}
	Wild Series
{% endblock %}


{% block body %}
	<video class="w-100 position-relative" src="{{ asset('build/images/AffectionateMeagerGermanshorthairedpointer.mp4') }}" autoplay loop></video>
	<h1 class="header-text display-1 position-absolute top-50 start-50 translate-middle">Toutes vos séries au bout de vos doigts</h1>
{% endblock %}
